# Firebase (Auth + Firestore + Realtime DB)
VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://your_project-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id

# Cloudinary (sary sy video)
VITE_CLOUDINARY_CLOUD_NAME=your_cloud_name
VITE_CLOUDINARY_UPLOAD_PRESET=your_upload_preset

# OneSignal (push notifications)
VITE_ONESIGNAL_APP_ID=4906cf47-153d-4eac-bf4a-2d8ca0df0f26
VITE_ONESIGNAL_REST_API_KEY=os_v2_app_jedm6ryvhvhkzp2kfwgkbxypezecfpjqk7xu6hurv52ca7a3bcud7i27mqxkeyrzpndv6zge566aoo7xs3tcujjg74bbnbvynldosba
